<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jf.ads.application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainApplication"
        android:name="com.jf.ads.application.JFApplication">
        <activity
            android:name="com.jf.ads.application.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="appID"
            android:value="5273672" />
        <meta-data
            android:name="rewardCode"
            android:value="948129941" />
        <meta-data
            android:name="fullCode"
            android:value="948164936" />

    </application>

</manifest>